.Game {
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .result {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .result-win {
    color: #81c784;
  }

  .result-draw {
    color: #dce775;
  }

  .result-lost {
    color: #e57373;
  }

  .moves-wrapper {
    display: flex;
    justify-content: center;
  }

  .moves {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    box-sizing: content-box;
  }
}
